* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playingField {
  display: flex;
  /* width:90%; */
  flex-wrap: wrap;
  /* max-width: 600px; */
  justify-content: center;
  align-items: center;

}

.gem {
  display:flex;
  width: 20%;
  height: 20%;
  background: lime;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.gem_empty {
  background: grey;
}

.fieldSize {
  display:flex;
  align-items: center;
  justify-content: center;
}

.fieldSize--size {
  border: solid 1px green;
  margin:1%;
}

.buttons {
  display:flex;
  align-items: center;
  justify-content: center;
}

.buttons--but {
  display:flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  margin:1%;
  height: 50px;
  padding:1%;
  background: yellow;
}
